<div class="row">
  <div class="col-md-4">
    <img id="movie-page-poster" src="https://image.tmdb.org/t/p/w500/<%=@movie["poster_path"]%>">
  </div>
  <div class="col-md-5 col-md-offset-1">
    <h2>Rating</h2>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <div class="well movie-title card-panel">
      <h2><%= @movie["title"] %></h2>
      <p><%= @movie["overview"] %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="col s12 m7">
   <h2 class="header">Horizontal Card</h2>
   <div class="card horizontal">
     <div class="card-image">
       <img src="http://lorempixel.com/100/190/nature/6">
     </div>
     <div class="card-stacked">
       <div class="card-content">
         <p>I am a very simple card. I am good at containing small bits of information.</p>
       </div>
       <div class="card-action">
         <a href="#">This is a link</a>
       </div>
     </div>
   </div>
 </div>
  </div>
  <div class="col-md-5">
    <div class="well review-info card-panel">
      <h3>Review Title</h3>
      <p>Review Conclusion<p>
        <p>Review Score</p>
        <p>Author Name</p>
      </div>
  </div>

</div>
<%= link_to "Click here to write a review", new_movie_review_path(@movie['id']) %>

<div id="review-info">
 <% @reviews.each do |review| %>
  <li><%= review.title %></li>
  <%end%>

</div>
