
<%= render "shared/errors", object: @user %>
<div class="container">
  <div class="row">
    <h1 align="center">Create an account</h1>
    <div class="col-xs-8 col-xs-offset-2">

      <%= form_for(@user, html: { class: "form-horizontal", role: "form" }) do |f| %>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :username %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :username, class: "form-control", placeholder: "Username", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :user_type %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :type_of_user ,class: "form-control", placeholder: "Reviewer: 0 | Normal User: 1", autofocus: true %>
        </div>
      </div>





      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :password %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control", placeholder: "Password", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Sign Up", class: "btn btn-primary" %>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>
