<h1 align="center">Your Profile</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <div>
      <%= image_tag gravatar_for(current_user, size: 150, align: "center" ), class: "img-circle" %>
    </div>
    <small>Reviews: <%= current_user.reviews.count %></small>

  </div>
</div>
<h4 align="center">Your Reviews</h4>
<div class="container">

  <% @user.reviews.each do |review| %>

  <div class="well review-info card-panel">
    <h4><%= review.title %></h4>
    <h6>Score: <%= review.score %> / 5 </h6>
    <p><%= truncate(review.conclusion, length: 150){ link_to "Continue", movie_review_path(@movie['id'], review.id) } %><p>
      <p><small>Written by <%= review.user.username %> <%= time_ago_in_words(review.created_at) %></small></p>
    </div>
    <%end%>
</div>
