<div class="row center">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="box">
            <div class="container-1">
                <%= form_tag search_movies_path do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
                    <% submit_tag "Search", :name => nil %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<h2 class="title-homepage">Popular now</h2>
<div class="row movie-slider-home-page">
    <div class="col-md-10 col-md-offset-1">
        <div id="main-slider" class="movie-slider">
            <% @movies.each do |movie| %>
                <div class='poster'>
                    <%= link_to image_tag("https://image.tmdb.org/t/p/w500/#{movie.poster_path}"), "/movies/#{movie.id}" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<h2 class="title-homepage">Genres</h2>
<div class="row movie-slider-home-page">
<div class="col-md-10 col-md-offset-1">
    <div id="main-slider" class="movie-slider">

        <div class='poster'>
            <%= link_to image_tag("https://images-na.ssl-images-amazon.com/images/M/MV5BMjA4MDU0NTUyN15BMl5BanBnXkFtZTgwMzQxMzY4MjE@._V1_UX182_CR0,0,182,268_AL_.jpg"), "/movies?genre=Action" %>
            <a href='/movies?genre=Action'>
                Action
            </a>
        </div>

        <div class='poster'>
            <%= link_to image_tag("https://images-na.ssl-images-amazon.com/images/M/MV5BMjEwMzMxODIzOV5BMl5BanBnXkFtZTgwNzg3OTAzMDI@._V1_SX214_AL_.jpg"), "/movies?genre=Adventure" %>
            <a href='/movies?genre=Adventure'>
                Adventure
            </a>
        </div>

        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//z4x0Bp48ar3Mda8KiPD1vwSY3D8.jpg"), "/movies?genre=Animation" %>
            <a href='/movies?genre=Animation'>
                Animation
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//inVq3FRqcYIRl2la8iZikYYxFNR.jpg"), "/movies?genre=Comedy" %>
            <a href='/movies?genre=Comedy'>
                Comedy
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//oFOG2yIRcluKfTtYbzz71Vj9bgz.jpg"), "/movies?genre=Crime" %>
            <a href='/movies?genre=Crime'>
                Crime
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//hBdcsiqtZR916eFpkCnQGkzN5lb.jpg"), "/movies?genre=Documentary" %>
            <a href='/movies?genre=Documentary'>
                Documentary
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//h6O5OE3ueRVdCc7V7cwTiQocI7D.jpg"), "/movies?genre=Drama" %>
            <a href='/movies?genre=Drama'>
                Drama
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//hGRfWcy1HRGbsjK6jF7NILmqmFT.jpg"), "/movies?genre=Family" %>
            <a href='/movies?genre=Family'>
                Family
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//xMvzfhXZdfeLBZZUIQRB4vw1EtA.jpg"), "/movies?genre=Fantasy" %>
            <a href='/movies?genre=Fantasy'>
                Fantasy
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//noUp0XOqIcmgefRnRZa1nhtRvWO.jpg"), "/movies?genre=History" %>
            <a href='/movies?genre=History'>
                History
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//lw0IqOSMsQcy1QnVIEIDppLmNwk.jpg"), "/movies?genre=Horror" %>
            <a href='/movies?genre=Horror'>
                Horror
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//s9ye87pvq2IaDvjv9x4IOXVjvA7.jpg"), "/movies?genre=Music" %>
            <a href='/movies?genre=Music'>
                Music
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//gdiLTof3rbPDAmPaCf4g6op46bj.jpg"), "/movies?genre=Mystery" %>
            <a href='/movies?genre=Mystery'>
                Mystery
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//kHXEpyfl6zqn8a6YuozZUujufXf.jpg"), "/movies?genre=Romance" %>
            <a href='/movies?genre=Romance'>
                Romance
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg"), "/movies?genre=Science%20Fiction" %>
            <a href='/movies?genre=Science%20Fiction'>
                Science Fiction
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//84FbbKA1Knskhxh2gXtkH9nM8QP.jpg"), "/movies?genre=TV%20Movie" %>
            <a href='/movies?genre=TV%20Movie'>
                TV Movie
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//lFSSLTlFozwpaGlO31OoUeirBgQ.jpg"), "/movies?genre=Thriller" %>
            <a href='/movies?genre=Thriller'>
                Thriller
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//svPHnYE7N5NAGO49dBmRhq0vDQ3.jpg"), "/movies?genre=War" %>
            <a href='/movies?genre=War'>
                War
            </a>
        </div>
        <div class='poster'>
            <%= link_to image_tag("https://image.tmdb.org/t/p/w500//wfPHdfofBD5PN96dV96a51B3Ja2.jpg"), "/movies?genre=Western" %>
            <a href='/movies?genre=Western'>
                Western
            </a>
        </div>
    </div>
</div>
</div>
