
  <h2 class="title-homepage">Popular now</h2>
  <div class="row movie-slider-home-page">
    <div class="col-md-10 col-md-offset-1">
      <div id="main-slider"  class="movie-slider">
        <div class='poster'>
          <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
          <a href='/reviews/index'>
            <%= truncate("Batman: The Dark Knightregrergergr", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
          <a href='/reviews/index'>
            <%= truncate("Batman: The Dark Knightregrergergr", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
          <a href='/reviews/index'>
            <%= truncate("Batman: The Dark Knightregrergergr", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
          <a href='/reviews/index'>
            <%= truncate("Batman: The Dark Knightregrergergr", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
          <a href='/reviews/index'>
            <%= truncate("Batman: The Dark Knightregrergergr", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
          <a href='/reviews/index'>
            <%= truncate("Batman: The Dark Knightregrergergr", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
          <a href='/reviews/index'>
            <%= truncate("Batman: The Dark Knightregrergergr", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
          <a href='/reviews/index'>
            <%= truncate("Batman: The Dark Knightregrergergr", length: 25 ) %>
          </a>
        </div>

      </div>
    </div>
  </div>


  <h2 class="title-homepage">Genres</h2>
  <div class="row movie-slider-home-page">
    <div class="col-md-10 col-md-offset-1">
      <div id="main-slider"  class="movie-slider">
        <div class='poster'>
          <img src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">
          <a href='/reviews/index'>
            <%= truncate("Comedy", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">
          <a href='/reviews/index'>
            <%= truncate("Comedy", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">
          <a href='/reviews/index'>
            <%= truncate("Comedy", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">
          <a href='/reviews/index'>
            <%= truncate("Comedy", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">
          <a href='/reviews/index'>
            <%= truncate("Comedy", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">
          <a href='/reviews/index'>
            <%= truncate("Comedy", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">
          <a href='/reviews/index'>
            <%= truncate("Comedy", length: 25 ) %>
          </a>
        </div>
        <div class='poster'>
          <img src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">
          <a href='/reviews/index'>
            <%= truncate("Comedy", length: 25 ) %>
          </a>
        </div>
      </div>
    </div>
  </div>
