<h1 align="center">Create a New Review</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <%= form_for(@review, html: { class: "form-horizontal", role: "form" }, url: movie_reviews_path) do |f| %>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Your review title", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :content %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :content, class: "form-control", placeholder: "Your review", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :conclusion %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :conclusion, class: "form-control", placeholder: "Your conclusion", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :score %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :score, class: "form-control", placeholder: "Your final score (from 1 to 5)", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Publish", class: "btn btn-primary" %>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>
