<div class="container">
  <div class="row">
    <h1 align="center"><%= @review.user.username %></h1>
      <div class="well col-xs-8 col-xs-offset-2">
        <div align="center">
          <%= image_tag gravatar_for(@review.user, size: 150, align: "center" ), class: "img-circle" %>
        </div>
        <p><%= @review.title %></p>
        <p><%= @review.content %></p>
        <p><%= @review.conclusion %></p>
        <p><%= @review.score %></p>
      </div>
      <div>
        <% @comments.each do |comment| %>
          <p><%= comment.description %></p>
          <p><%= comment.user.username %></p>
        <% end %>
      </div>
    <%= button_to "Add a comment", new_movie_review_comment_path(@review.movie_id, @review.id) %>
  </div>
</div>
